.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  padding: 10px;
  font-family: 'DM Sans';
  font-weight: bold;
  border-radius: 10px 0px 0px 10px;
}

.search-button {
  background: blue;
  border: none;
  padding: 10px 20px;
  color: white;
  font-family: 'DM Sans';
  font-weight: bold;
  border-radius: 0px 10px 10px 0px;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


